html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f2f3f5;
    padding: 15px;
}

/* 文章类别管理头部布局 */

.layui-card-header {
    display: flex;
    /* 两边对齐 */
    justify-content: space-between;
    /* 垂直剧中 */
    align-items: center;
}

/* 修饰添加分类弹出框表单的样式 */

#form-add, #form-edit {
    padding: 20px 30px;
}

/* 默认让加载的图片隐藏 */

#loadingImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* 提高层级 */
    z-index: 999;
}